@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Comfortaa", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #000;
}
body.no-scroll {
  overflow-y: hidden;
}

main {
  flex: 1;
}

section:not(:last-of-type) {
  margin-bottom: 60px;
}

.container {
  width: 100%;
  max-width: 1322px;
  padding: 0 16px;
  margin: 0 auto;
}

.headline {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.subtitle {
  font-size: 16px;
  font-weight: 500;
}

a {
  font-weight: 700;
  color: #D03664;
  text-decoration-line: underline;
  transition: color 0.3s ease;
}
a:hover, a:focus {
  color: #AA2B51;
}

img {
  width: 100%;
  height: auto;
}

.button {
  padding: 20px;
  border-radius: 5px;
  border-width: 0;
  background-color: #D03664;
  font-size: 15px;
  line-height: 17px;
  font-weight: 700;
  font-family: "Comfortaa", sans-serif;
  color: #fff;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.button:hover, .button:focus {
  background-color: #AA2B51;
}
.button_white {
  padding: 19px 20px;
  border: 1px solid #D03664;
  background-color: #fff;
  color: #D03664;
  text-transform: capitalize;
  transition: background-color 0.3s ease;
}
.button_white:hover, .button_white:focus {
  background-color: #FFEAF1;
}

label {
  font-weight: 700;
}

input {
  padding: 19px 20px;
  border-radius: 5px;
  border: 1px solid #C7C7C7;
  font-size: 15px;
  line-height: 17px;
  font-family: "Comfortaa", sans-serif;
  transition: border-color 0.2s ease;
}
input::placeholder {
  color: #585858;
  transition: color 0.2s ease;
}
input:focus-visible {
  border-color: #585858;
  outline: none;
}
input:focus-visible::placeholder {
  color: transparent;
}
input:user-invalid {
  border-color: #F00;
  outline: none;
}
input[type=checkbox] {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
input[type=checkbox]:checked + label::after {
  background-color: #D03664;
}

.input-error {
  color: #F00;
}

label {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}
label::before {
  content: "";
  display: block;
  margin-right: 10px;
  padding: 4px;
  width: 20px;
  height: 20px;
  border: 1px solid #585858;
  border-radius: 2px;
  box-sizing: border-box;
}
label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 2px;
  background-color: transparent;
  transition: background-color 0.1s ease;
}

.overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100vh;
  background-color: #000;
  opacity: 0.7;
}

.header {
  position: sticky;
  z-index: 4;
  top: 0;
  width: 100%;
  padding: 20px 0;
  background-color: #D03664;
}
.header .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.logo-link {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  width: 90px;
  height: 20px;
}
.logo-link__img {
  width: auto;
  height: 100%;
}

.menu-button {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 18px;
  padding: 0;
  margin-right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: none;
  left: 0;
}
.menu-button__item {
  width: 100%;
  height: 2px;
  background-color: #fff;
}
.menu-button::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
}
.menu-button::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 15px;
  height: 2px;
  background-color: #fff;
}
.menu-button_active {
  position: absolute;
  z-index: 4;
  left: 286px;
  top: 20px;
  width: 25px;
  height: 25px;
  transition: left 0.15s ease;
  transition-delay: 0.15s;
}
.menu-button_active + .logo-link {
  margin-left: 40px;
}
.menu-button_active .menu-button__item {
  display: none;
}
.menu-button_active::before, .menu-button_active::after {
  width: 35px;
  top: 50%;
  left: 50%;
}
.menu-button_active::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.menu-button_active::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.info-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.info-list__counter {
  display: none;
  font-size: 12px;
  font-weight: 700;
  font-family: "Comfortaa", sans-serif;
  color: #FFF4F8;
}
.info-list__item {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.info-list__item_cart .info-list__button {
  position: relative;
}
.info-list__item_cart .info-list__counter {
  position: absolute;
  top: 15px;
  right: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 15px;
  min-height: 15px;
  aspect-ratio: 1;
  padding: 2px;
  border-width: 0;
  border-radius: 50%;
  color: #fff;
  background-color: #F99C11;
}
.info-list__button {
  display: flex;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.info-list__icon {
  height: 20px;
}

.search {
  position: absolute;
  z-index: 5;
  top: -150%;
  left: 0;
  width: 100%;
  height: auto;
  padding: 16px;
  background-color: #D03664;
  transition: top 0.2s ease;
}
.search.active {
  top: 0;
}
.search__form {
  display: flex;
  margin: 0 auto;
}
.search__input {
  width: 100%;
  padding: 14px 0 14px 15px;
  border-width: 1px 0 1px 1px;
  border-radius: 10px 0 0 10px;
  color: #fff;
  border-color: #fff;
  background-color: rgba(255, 255, 255, 0.15);
}
.search__input::placeholder {
  font-weight: 300;
  color: #fff;
}
.search__input:focus-visible {
  border-color: #fff;
}
.search__button {
  display: flex;
  padding: 14px 15px 14px 8px;
  border: 1px solid;
  border-left: 0;
  border-radius: 0 10px 10px 0;
  border-color: #fff;
  background-color: rgba(255, 255, 255, 0.15);
  cursor: pointer;
}
.search__icon {
  width: 15px;
  height: 15px;
}

.header__nav {
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 5;
  display: flex;
  flex-direction: column;
  width: 266px;
  height: 100vh;
  max-height: 100vh;
  padding: 30px 16px;
  background-color: #D03664;
  transition: left 0.2s ease;
  overflow: auto;
}
.header__nav_active {
  left: 0;
}
.header__nav_active .catalog_active {
  left: 0;
}
.header__nav .catalog-button {
  margin-bottom: 40px;
}
.header__nav .main-menu {
  margin-bottom: 80px;
}

.catalog-button {
  width: 100%;
  max-width: 234px;
  padding: 30px;
  border-width: 0;
  border-radius: 20px;
  text-align: left;
  color: #000;
  font-family: "Comfortaa", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  background-color: #FFEAF1;
  cursor: pointer;
}
.catalog-button__burger {
  position: relative;
  display: inline-block;
  margin: 7px 10px 7px 0;
  height: 2px;
  width: 25px;
  background-color: #D03664;
}
.catalog-button__burger::before, .catalog-button__burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: #D03664;
}
.catalog-button__burger::before {
  top: -7px;
}
.catalog-button__burger::after {
  bottom: -7px;
}

.main-menu {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.main-menu::after {
  content: "";
  position: absolute;
  bottom: -40px;
  transform: translateY(-50%);
  width: 100%;
  height: 1px;
  background-color: #FFC5D6;
}
.main-menu__link {
  display: flex;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
}
.main-menu__link:hover, .main-menu__link:focus {
  color: #FFC5D6;
}

.extra-menu {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.phone-link {
  display: flex;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}
.phone-link:hover, .phone-link:focus {
  color: #FFC5D6;
}

.socials {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
.socials__link {
  display: flex;
}
.socials__link:hover .socials__icon, .socials__link:focus .socials__icon {
  stroke: #fff;
}
.socials__icon {
  display: flex;
  width: 23px;
  height: 20px;
  stroke: #FFC5D6;
  transition: stroke 0.2s ease;
}

.lang-toggle {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 18px;
}
.lang-toggle__item {
  position: relative;
}
.lang-toggle__item:not(:last-of-type)::after {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  right: -9px;
  width: 1px;
  height: 15px;
  transform: translate(50%, -50%);
  background-color: #fff;
}
.lang-toggle__option {
  display: flex;
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: 15px;
  font-weight: 300;
  color: #FFC5D6;
  text-decoration: underline;
  cursor: pointer;
}
.lang-toggle__option_active {
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  cursor: auto;
}

.login-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  color: #fff;
  font-weight: 500;
}
.login-button__icon {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  stroke: #fff;
}
.login-button:hover, .login-button:focus {
  color: #FFC5D6;
}

.catalog {
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 6;
  width: 266px;
  height: 100vh;
  max-height: 100vh;
  overflow: auto;
  padding: 30px 16px;
  background-color: #fff;
  transition: left 0.2s ease;
}
.catalog__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.catalog__return, .catalog__button, .catalog__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  padding: 0;
  width: 100%;
  border: none;
  background-color: transparent;
  color: #000;
  font-family: "Comfortaa", sans-serif;
  font-style: normal;
  font-size: 15px;
  font-weight: 300;
  line-height: normal;
  cursor: pointer;
}
.catalog__return {
  margin-bottom: 30px;
  font-size: 17px;
  font-weight: 500;
}
.catalog__return::before {
  content: url("../../../img/arrow-left.svg");
  margin-right: 10px;
}
.catalog__icon {
  margin-right: 10px;
  width: 25px;
  height: 25px;
}
.catalog__link {
  text-decoration: none;
}
.catalog__button:focus, .catalog__button:hover, .catalog__link:focus, .catalog__link:hover {
  text-decoration: underline;
}

.product {
  position: relative;
  width: 156px;
}
.product:hover .product__hover-buttons, .product:focus .product__hover-buttons {
  display: flex;
}
.product:hover:has(.product__out-of-stock) .product__hover-buttons, .product:focus:has(.product__out-of-stock) .product__hover-buttons {
  display: none;
}
.product__link {
  display: flex;
  display: flex;
  flex-direction: column;
  gap: 13px;
  text-decoration: none;
}
.product__img {
  border-radius: 10px;
}
.product__discount {
  position: absolute;
  top: 5px;
  left: 5px;
  padding: 5px;
  border-radius: 5px;
  background-color: #F99C11;
  color: #fff;
  font-size: 14px;
}
.product__discount::before {
  content: "-";
}
.product__discount::after {
  content: "%";
}
.product__title {
  color: #000;
  font-size: 14px;
  font-weight: 300;
}
.product__price-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.product__price {
  font-size: 12px;
  color: #202020;
}
.product__price:has(+ .product__discount-price) {
  text-decoration: line-through;
}
.product__discount-price {
  color: #F99C11;
}
.product__price::after, .product__discount-price::after {
  content: " грн";
  font-weight: 300;
}
.product__hover-buttons {
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  padding: 13px 0 15px 0;
  background-color: #fff;
}
.product .button {
  flex: 1 0 100%;
}
.product__button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.product__icon {
  stroke: #D03664;
  width: 30px;
  height: 20px;
}
.product__out-of-stock {
  color: #F91111;
  font-size: 15px;
  font-weight: 400;
}

.carousel__list__item {
  display: inline-flex !important;
  flex-direction: column;
  align-items: center;
}
.carousel__button {
  position: absolute;
  top: 5px;
  right: 16px;
  display: block;
  padding: 0;
  border: none;
  width: 20px;
  height: 20px;
  background-color: transparent;
  cursor: pointer;
}
.carousel__icon {
  width: 100%;
  height: 100%;
}

.slider-section {
  padding-top: 16px;
}

.slider {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}
.slider__list__item {
  height: 260px;
}
.slider__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
.slider__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.slider__button_left {
  left: -2px;
}
.slider__button_right {
  right: -2px;
}
.slider__button__icon {
  width: 62px;
  height: 62px;
}

.tns-outer [data-action=stop],
.tns-outer [data-action=start] {
  display: none;
}

.tns-slide-active {
  position: relative;
  z-index: 2;
}

.tns-nav {
  position: absolute;
  z-index: 3;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
.tns-nav button {
  width: 13px;
  height: 13px;
  border-width: 0;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.75;
}
.tns-nav .tns-nav-active {
  opacity: 1;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.15));
}

.sale-section .container {
  position: relative;
}
.sale-section .headline {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.sale-section .headline::after {
  content: "Sale";
  padding: 5px;
  margin-left: 10px;
  border-radius: 10px;
  background-color: #FFF0D2;
  font-size: 14px;
  color: #F99C11;
  text-transform: uppercase;
}

.popular {
  display: grid;
  grid-auto-rows: 180px;
  gap: 16px;
}
.popular__item {
  border-radius: 20px;
  overflow: hidden;
}
.popular__item:nth-of-type(1) {
  background: linear-gradient(208deg, #6AD245 0%, #58BE34 100%);
}
.popular__item:nth-of-type(1) .popular__name {
  background-color: #54AD33;
}
.popular__item:nth-of-type(2) {
  background-color: #F99C11;
}
.popular__item:nth-of-type(2) .popular__name {
  background-color: #DB8300;
}
.popular__item:nth-of-type(3) {
  background: linear-gradient(248deg, #2DEAE4 0%, #27D8D2 100%);
}
.popular__item:nth-of-type(3) .popular__name {
  background-color: #1FC0BB;
}
.popular__item:nth-of-type(4) {
  background: linear-gradient(247deg, #D84545 -1.64%, #CC3C3C 100%);
}
.popular__item:nth-of-type(4) .popular__name {
  background-color: #A43A3A;
}
.popular__item:nth-of-type(5) {
  background: linear-gradient(248deg, #A24FE2 0%, #8E3AD0 100%);
}
.popular__item:nth-of-type(5) .popular__name {
  background-color: #7834AD;
}
.popular__item:nth-of-type(6) {
  background: linear-gradient(208deg, #4F8AE2 0%, #3A73C9 100%);
}
.popular__item:nth-of-type(6) .popular__name {
  background-color: #3868B2;
}
.popular__link {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.popular__img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
}
.popular__name {
  position: absolute;
  bottom: 37px;
  left: 30px;
  max-width: 175px;
  padding: 10px;
  border-radius: 10px;
  font-weight: 400;
  color: #fff;
}

.brands-section .container {
  position: relative;
}

.brand {
  width: 93px;
  height: 65px;
  overflow: hidden;
}
.brand__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.text-block {
  position: relative;
  margin: 0 auto;
  padding-bottom: 32px;
  max-width: 1000px;
  height: 336px;
  overflow: hidden;
}
.text-block::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #fff 0%, rgba(0, 0, 0, 0) 100%);
}
.text-block_active {
  height: auto !important;
  overflow: inherit;
}
.text-block_active::before,
.text-block_active .text-block__button {
  display: none;
}
.text-block__paragraph:not(:last-of-type) {
  margin-bottom: 18px;
}
.text-block__button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  padding: 0;
  background-color: transparent;
  font-size: 15px;
  font-weight: 700;
  color: #D03664;
  text-decoration-line: underline;
  transition: color 0.3s ease;
  cursor: pointer;
}
.text-block__button:hover, .text-block__button:focus {
  color: #AA2B51;
}

.seen-before {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
}

.emailer-section {
  background: #F99C11;
}

.emailer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
  max-width: 1183px;
}
.emailer__wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px 30px;
}
.emailer .headline {
  margin: 0;
  max-width: 335px;
  color: #fff;
}
.emailer__form {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.emailer__form input[type=email] {
  padding: 15px;
  width: 265px;
  color: #fff;
  border-color: #fff;
  background: rgba(255, 255, 255, 0.15);
}
.emailer__form input[type=email]::placeholder {
  color: #fff;
}
.emailer__form input[type=email]:focus-visible {
  border-color: #fff;
}
.emailer__button {
  width: 62px;
  height: 62px;
  padding: 0;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
}
.emailer__button__icon {
  width: 62px;
  height: 62px;
}
.emailer__img {
  display: none;
  width: 345px;
}

.footer {
  justify-self: flex-end;
  padding-bottom: 40px;
  background-color: #D03664;
}
.footer .container {
  display: grid;
  padding: 0;
}
.footer .container > * {
  padding: 0 16px;
}
.footer .container .contacts {
  padding-top: 40px;
  padding-bottom: 40px;
}
.footer .headline {
  color: #fff;
  margin-bottom: 20px;
}
.footer__nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 35px 50px;
  margin-bottom: 35px;
}
.footer .rights {
  display: inline-block;
  margin-bottom: 12px;
  color: #F3A8BF;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 40px;
  background-color: #AA2B51;
}
.contacts .phone-link {
  font-size: 18px;
}
.contacts .email-link {
  font-weight: 300;
  color: #fff;
}
.contacts .email-link:hover {
  color: #FFC5D6;
}
.contacts .address {
  color: #fff;
}

.footer-menu_columns {
  column-count: 2;
}
.footer-menu__item:not(:last-of-type) {
  margin-bottom: 15px;
}
.footer-menu__link {
  font-weight: 300;
  color: #fff;
  text-decoration: none;
}
.footer-menu__link:hover {
  color: #FFC5D6;
}

.payments {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
.payments__link {
  display: flex;
  width: 60px;
  height: 30px;
  border-radius: 10px;
  overflow: hidden;
}

@media only screen and (min-width: 480px) {
  .text-block {
    height: 208px;
  }
}
@media only screen and (min-width: 768px) {
  body {
    font-size: 15px;
  }
  .container {
    max-width: 1350px;
    padding: 0 30px;
  }
  section:not(:last-of-type) {
    margin-bottom: 80px;
  }
  .headline {
    font-size: 20px;
  }
  .subtitle {
    font-size: 17px;
  }
  .header {
    padding: 14px 0;
  }
  .header .container {
    align-items: center;
    gap: 30px;
  }
  .logo-link {
    width: 138px;
    height: 32px;
  }
  .menu-button {
    margin: 0;
  }
  .menu-button_active + .logo-link {
    margin-left: 60px;
  }
  .info-list__item_search {
    display: none;
  }
  .info-list__item_cart .info-list__counter {
    position: static;
    min-width: 21px;
    min-height: 21px;
  }
  .info-list__counter {
    display: inline;
    font-size: 15px;
  }
  .info-list__button {
    margin-right: 7px;
  }
  .search {
    position: static;
    z-index: 0;
    padding: 0;
    width: auto;
    height: auto;
    flex-grow: 1;
  }
  .info-list {
    gap: 30px;
  }
  .product {
    width: 234px;
  }
  .product__discount {
    top: 10px;
    left: 10px;
    padding: 7px;
    font-size: 15px;
  }
  .product__title {
    font-size: 15px;
  }
  .product__price-wrapper {
    flex-direction: row;
    align-items: center;
  }
  .product__price {
    font-size: 14px;
  }
  .product__discount-price {
    font-size: 17px;
  }
  .product .button {
    flex: 0;
  }
  .slider-section {
    padding-top: 30px;
  }
  .slider__list__item {
    height: 435px;
  }
  .slider__button_left {
    left: 13px;
  }
  .slider__button_right {
    right: 13px;
  }
  .carousel__button {
    right: 30px;
  }
  .sale-section .headline {
    margin-bottom: 28px;
  }
  .popular {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 190px;
    gap: 30px;
  }
  .popular__item:nth-of-type(1) {
    grid-row: span 2;
  }
  .popular__item:nth-of-type(6) {
    grid-row: 3/span 2;
    grid-column: 2;
  }
  .brand {
    width: 158px;
    height: 111px;
  }
  .text-block {
    height: 255px;
  }
  .seen-before {
    gap: 30px;
  }
  .emailer-section {
    background: url("../../../img/bg.svg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .emailer {
    padding: 0;
    flex-direction: row;
  }
  .emailer__form input[type=email] {
    width: 300px;
  }
  .emailer__img {
    display: block;
  }
  .footer .container > * {
    padding: 0 30px;
  }
  .footer__nav {
    flex-direction: row;
  }
}
@media only screen and (min-width: 1000px) {
  .slider__list__item {
    height: 568px;
  }
  .text-block {
    height: 221px;
  }
}
@media only screen and (min-width: 1350px) {
  body.no-scroll {
    overflow: auto;
  }
  .overlay {
    display: none;
  }
  .header {
    padding: 20px 0 16px 0;
    position: static;
  }
  .header .container {
    position: relative;
    gap: 42px 30px;
  }
  .header .container .header__nav {
    margin: 0;
  }
  .menu-button {
    display: none;
  }
  .menu-button_active + .logo-link {
    margin-left: 0;
  }
  .search {
    margin-left: 264px;
  }
  .header__nav {
    position: static;
    flex-direction: row;
    padding: 0;
    min-width: 1122px;
    height: auto;
    overflow: visible;
  }
  .header__nav .main-menu {
    margin: 0 auto 0 0;
  }
  .header__nav .catalog-button {
    margin: 0;
  }
  .main-menu {
    flex-direction: row;
    gap: 20px;
  }
  .main-menu::after {
    display: none;
  }
  .extra-menu {
    flex-direction: row;
    align-items: center;
  }
  .extra-menu * {
    font-size: 14px;
  }
  .catalog-button {
    position: absolute;
    bottom: -16px;
    left: 30px;
    margin: 0;
    border-radius: 20px 20px 0 0;
    background-color: #fff;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.07);
    cursor: default;
  }
  .catalog-button::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 30px;
    display: block;
    width: 174px;
    height: 1px;
    background-color: #E1E1E1;
  }
  #catalog {
    top: 137px;
    left: 30px;
    display: block;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.07);
    overflow: hidden;
  }
  #catalog > .catalog__return {
    display: none;
  }
  .catalog {
    top: 0;
    left: -100%;
    width: 234px;
    height: 598px;
    border-radius: 0 0 20px 20px;
  }
  .catalog_active {
    left: 0;
  }
  .slider {
    max-width: 1028px;
    margin-left: auto;
  }
  .popular {
    grid-template-columns: repeat(4, 1fr);
  }
  .popular__item:nth-of-type(6) {
    grid-row: 1/span 2;
    grid-column: 3;
  }
  .emailer__wrapper {
    flex-direction: row;
    align-items: center;
  }
  .footer {
    padding: 60px 0;
  }
  .footer .container {
    padding: 0 30px;
    grid-template-columns: 300px auto;
    gap: 40px 140px;
  }
  .footer .container > * {
    padding: 0;
  }
  .footer .container .contacts {
    padding: 30px;
  }
  .contacts {
    border-radius: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
