html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Comfortaa", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #000;
}
body.no-scroll {
  overflow-y: hidden;
}

main {
  flex: 1;
}

.container {
  width: 100%;
  max-width: 1322px;
  padding: 0 16px;
  margin: 0 auto;
}

.headline {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.subtitle {
  font-size: 16px;
  font-weight: 500;
}

a {
  font-weight: 700;
  color: #D03664;
  text-decoration-line: underline;
  transition: color 0.3s ease;
}
a:hover, a:focus {
  color: #AA2B51;
}

.button {
  padding: 20px;
  border-radius: 5px;
  border-width: 0;
  background-color: #D03664;
  line-height: 17px;
  font-weight: 700;
  font-family: "Comfortaa", sans-serif;
  color: #fff;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.button:hover, .button:focus {
  background-color: #AA2B51;
}
.button_white {
  padding: 19px 20px;
  border: 1px solid #D03664;
  background-color: #fff;
  color: #D03664;
  text-transform: capitalize;
  transition: background-color 0.3s ease;
}
.button_white:hover, .button_white:focus {
  background-color: #FFEAF1;
}

label {
  font-weight: 700;
}

input {
  padding: 19px 20px;
  border-radius: 5px;
  border: 1px solid #C7C7C7;
  font-size: 15px;
  line-height: 17px;
  font-family: "Comfortaa", sans-serif;
  transition: border-color 0.2s ease;
}
input::placeholder {
  color: #585858;
  transition: color 0.2s ease;
}
input:focus-visible {
  border-color: #585858;
  outline: none;
}
input:focus-visible::placeholder {
  color: transparent;
}
input:user-invalid {
  border-color: #F00;
  outline: none;
}
input[type=checkbox] {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
input[type=checkbox]:checked + label::after {
  background-color: #D03664;
}

.input-error {
  color: #F00;
}

label {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}
label::before {
  content: "";
  display: block;
  margin-right: 10px;
  padding: 4px;
  width: 20px;
  height: 20px;
  border: 1px solid #585858;
  border-radius: 2px;
  box-sizing: border-box;
}
label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 2px;
  background-color: transparent;
  transition: background-color 0.1s ease;
}

.overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
}

.header {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 20px 0;
  background-color: #D03664;
}
.header .container {
  display: flex;
  flex-direction: row;
}

.logo-link {
  display: flex;
  flex-direction: column;
  width: 90px;
  height: 20px;
}

.menu-button {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 18px;
  padding: 0;
  margin-right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: none;
  left: 0;
}
.menu-button__item {
  width: 100%;
  height: 2px;
  background-color: #fff;
}
.menu-button::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
}
.menu-button::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 15px;
  height: 2px;
  background-color: #fff;
}
.menu-button_active {
  position: absolute;
  z-index: 4;
  left: 286px;
  top: 20px;
  width: 25px;
  height: 25px;
  transition: left 0.15s ease;
  transition-delay: 0.15s;
}
.menu-button_active .menu-button__item {
  display: none;
}
.menu-button_active::before, .menu-button_active::after {
  width: 35px;
  top: 50%;
  left: 50%;
}
.menu-button_active::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.menu-button_active::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.header__nav {
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 5;
  width: 266px;
  height: 100vh;
  max-height: 100vh;
  padding: 30px 16px;
  background-color: #D03664;
  transition: left 0.2s ease;
  overflow: auto;
}
.header__nav_active {
  left: 0;
}
.header__nav_active .catalog_active {
  left: 0;
}
.header__nav .catalog-button {
  margin-bottom: 40px;
}
.header__nav .main-menu {
  margin-bottom: 80px;
}

.catalog-button {
  width: 100%;
  max-width: 234px;
  padding: 30px;
  border-width: 0;
  border-radius: 20px;
  text-align: left;
  color: #000;
  font-family: "Comfortaa", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  background-color: #FFEAF1;
  cursor: pointer;
}
.catalog-button__burger {
  position: relative;
  display: inline-block;
  margin: 7px 10px 7px 0;
  height: 2px;
  width: 25px;
  background-color: #D03664;
}
.catalog-button__burger::before, .catalog-button__burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: #D03664;
}
.catalog-button__burger::before {
  top: -7px;
}
.catalog-button__burger::after {
  bottom: -7px;
}

.main-menu {
  position: relative;
  display: flex;
  flex-direction: column;
}
.main-menu::after {
  content: "";
  position: absolute;
  bottom: -40px;
  transform: translateY(-50%);
  width: 100%;
  height: 1px;
  background-color: #FFC5D6;
}
.main-menu__item:not(:last-child) {
  margin-bottom: 30px;
}
.main-menu__link {
  display: flex;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
}
.main-menu__link:hover, .main-menu__link:focus {
  color: #FFC5D6;
}

.extra-menu {
  display: flex;
  flex-direction: column;
}
.extra-menu__item:not(:last-child) {
  margin-bottom: 30px;
}

.phone-link {
  display: flex;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}
.phone-link:hover, .phone-link:focus {
  color: #FFC5D6;
}

.socials {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.socials__item:not(:last-of-type) {
  margin-right: 20px;
}
.socials__link {
  display: flex;
}
.socials__link:hover .socials__icon, .socials__link:focus .socials__icon {
  stroke: #fff;
}
.socials__icon {
  display: flex;
  width: 23px;
  height: 20px;
  stroke: #FFC5D6;
  transition: stroke 0.2s ease;
}

.lang-toggle {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.lang-toggle__item {
  position: relative;
}
.lang-toggle__item:not(:last-of-type) {
  margin-right: 18px;
}
.lang-toggle__item:not(:last-of-type)::after {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  right: -9px;
  width: 1px;
  height: 15px;
  transform: translate(50%, -50%);
  background-color: #fff;
}
.lang-toggle__option {
  padding: 0;
  border: none;
  background-color: transparent;
  font-weight: 300;
  color: #FFC5D6;
  text-decoration: underline;
  cursor: pointer;
}
.lang-toggle__option_active {
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  cursor: auto;
}

.login-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  color: #fff;
  font-weight: 500;
}
.login-button__icon {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  stroke: #fff;
}
.login-button:hover, .login-button:focus {
  color: #FFC5D6;
}

.catalog {
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 6;
  width: 266px;
  height: 100vh;
  max-height: 100vh;
  overflow: auto;
  padding: 30px 16px;
  background-color: #fff;
  transition: left 0.2s ease;
}
.catalog__list__item:not(:last-of-type) {
  margin-bottom: 30px;
}
.catalog__return, .catalog__button, .catalog__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  width: 100%;
  border: none;
  background-color: transparent;
  color: #000;
  font-family: "Comfortaa", sans-serif;
  font-style: normal;
  font-size: 15px;
  font-weight: 300;
  line-height: normal;
  cursor: pointer;
}
.catalog__return {
  margin-bottom: 30px;
  font-size: 17px;
  font-weight: 500;
}
.catalog__return::before {
  content: url("../../../img/arrow-left.svg");
  margin-right: 10px;
}
.catalog__icon {
  margin-right: 10px;
  width: 25px;
  height: 25px;
}
.catalog__link {
  text-decoration: none;
}

body {
  font-size: 15px;
}

.headline {
  font-size: 20px;
}

.subtitle {
  font-size: 17px;
}

/*# sourceMappingURL=style.css.map */
