.footer {
  padding: 60px 0;

  &__nav {
    margin-bottom: 0;
    column-gap: 100px;
  }

  .container {
    padding: 0 30px;
    grid-template-columns: 300px auto;
    gap: 40px 140px;

    &>* {
      padding: 0;
    }

    .contacts {
      padding: 30px;
      margin-bottom: 0;
    }
  }
}

.contacts {
  border-radius: 20px;
}