.header__nav {
  position: static;
  flex-direction: row;
  padding: 0;
  min-width: 1122px;
  height: auto;
  overflow: visible;

  .main-menu {
    margin: 0 auto 0 0;

    &__link {
      font-size: 14px;
    }
  }

  .catalog-button {
    margin: 0;
  }
}

.main-menu {
  flex-direction: row;
  gap: 20px;

  &::after {
    display: none;
  }
}

.extra-menu {
  flex-direction: row;
  align-items: center;

  * {
    font-size: 14px;
  }
}

.phone-link {
  font-size: 17px;
}

.catalog-button {
  position: absolute;
  bottom: -16px;
  left: 30px;
  margin: 0;
  border-radius: 20px 20px 0 0;
  background-color: $white;
  cursor: default;

  &:hover {
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.07);

    &~#catalog {
      display: flex;
    }
  }
}

#catalog {
  top: 132px;
  left: 30px;
  display: none;
  box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.07);
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 30px;
    display: block;
    width: 174px;
    height: 1px;
    background-color: $moreLightGrey;
  }

  &>.catalog__return {
    display: none;
  }

  &:hover {
    display: block;
  }
}

.catalog {
  top: 0;
  left: -100%;
  padding: 30px;
  width: 234px;
  height: 598px;
  border-radius: 0 0 20px 20px;

  &_active {
    left: 0;
  }
}

.header_index {
  .catalog-button {
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.07);
  }

  #catalog {
    display: block;
  }
}