.shop-section {
  .container {
    display: grid;
    grid-template-areas:
      "breadcrumbs breadcrumbs"
      "headline headline"
      "side-filter goods";
  }
}

.tags {
  display: none;
}

.goods {
  row-gap: 26px;
}