// Fonts
$comfortaa: 'Comfortaa', sans-serif;
// Colors
$black: #000;
$grey: #585858;
$lightGrey: #C7C7C7;
$moreLightGrey: #E1E1E1;
$accent: #D03664;
$accentDark: #AA2B51;
$pink: #FFC5D6;
$lightPurple: #FFEAF1;
$whitePurple: #FFF4F8;
$red: #F00;
$discount: #F99C11;
$white: #fff;