// Fonts
$comfortaa: 'Comfortaa', sans-serif;
// Colors
$black: #000;
$darkGrey: #202020;
$grey: #585858;
$lightGrey: #C7C7C7;
$moreLightGrey: #E1E1E1;
$accent: #D03664;
$accentDark: #AA2B51;
$lightPink: #F3A8BF;
$pink: #FFC5D6;
$lightPurple: #FFEAF1;
$whitePurple: #FFF4F8;
$darkLightBlue: #3868B2;
$darkPurple: #7834AD;
$darkRed: #A43A3A;
$red: #F00;
$lighterRed: #F91111;
$darkOrange: #DB8300;
$discount: #F99C11;
$lightYellow: #FFF0D2;
$darkGreen: #54AD33;
$darkTeal: #1FC0BB;
$white: #fff;