.brands-section {
  .container {
    position: relative;
  }
}

.brand {
  width: 93px;
  height: 65px;
  overflow: hidden;

  &__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}