.spoiler {
  display: flex;
  flex-direction: column;

  &>* {
    display: none;
  }

  &__trigger {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    &::after {
      content: url('../img/down.svg');
      transition: transform 0.2s ease;
    }
  }

  &_active {
    &>* {
      display: block;
    }

    .spoiler__trigger {
      display: flex;

      &::after {
        transform: rotate(-180deg);
      }
    }
  }
}